#about_banner{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-image: url('../../../Assets/about_banner.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
    padding: 80px 10px;
    gap: 60px;
}

.about_banner_section h2{
    font-size: 35px;
}

.about_banner_section_span h2{
    display: flex;
    font-size: 35px;
    color: var(--main-color);
    align-items: center;
    gap: 10px;
}