#download_section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #F8F8F8;
    background-image: url(../../../Assets/mobile_bg.png);
    padding: 140px 100px;
    background-position: bottom;
    background-repeat: no-repeat;
}

#download_section h2{
    font-size: 40px;
}

#download_section p{
    color: var(--text-color);
}

.downloads_button{
    display: flex;
    gap: 30px;
}