.imgsubheader {
  width: 100%;
  opacity: 10%;
}

.left {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 25px;
}

.left h3 {
  font-size: 35px;
}

.left p {
  font-size: 16px;
  font-weight: 600;
}

.left a {
  color: black;
  text-decoration: none;
}

.left a:hover {
  color: var(--main-color);
  transition: 0.5s;
}
